body
{
    margin: 0;
    padding: 0;
    background: url('https://images.unsplash.com/photo-1582032224511-d6a8a1d21c0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=1080&w=1920&q=80') no-repeat;
}

.navbar-default .navbar-nav>li>a:hover
{
    background: #d1d1d1;
}

.jumbotron
{
    color: #fff;
    background: transparent;
}
.jumbotron h1
{
    font-size: 84px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4%;

    text-shadow: 2px 2px 2px black;
}
.jumbotron p
{
    font-size: 2em;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    text-shadow: 2px 2px 2px black;
}
#white-separator
{
    width: 700px;
    border-bottom: 4px solid white;

    box-shadow: 2px 1px 2px black;
}
#btnYes
{
    text-align: center;
    margin-top: 40px;
}
#btnYes .btn
{
    width: 230px;

    background: #fff;
}