body
{
    /* background: url('https://images.assetsdelivery.com/compings_v2/photoplotnikov/photoplotnikov1802/photoplotnikov180200010.jpg') no-repeat;
    background-size: cover; */

    background: pink;
}

h1
{
    border: 2px solid purple;
}

h4
{
    background: rgb(255, 100, 80);
}